.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: calcVW(50, 1600);
    gap: calcVW(10, 1600);
    text-align: center;

    @include vp--1600 {
        margin-top: 100px;
        gap: 20px;
    }
}

.text {
    font-size: calcVW(14, 1600);
    font-weight: bold;

    @include vp--1600 {
        font-size: 20px;
    }
}

.darkText {
    color: #828aa4;
    font-weight: bold;
}

.image img {
    width: calcVW(200, 1600);
    height: calcVW(200, 1600);

    @include vp--1600 {
        width: 200px;
        height: 200px;
    }
}