.layout {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    padding-top: 30px;
    background-color: #0B090D;
    background-size: 100% auto;

    @include vp--1024 {
        padding: 0;
    }
}

.topShadow {
    position: absolute;
    width: 854px;
    height: 854px;
    top: -800px;
    left: 25%;
    border-radius: 90%;
    filter: blur(200px);
    background-color: #840A0A;

    @include vp--680 {
        top: -600px;
    }
}

.bottomShadow {
    position: absolute;
    width: 854px;
    height: 854px;
    bottom: -700px;
    left: 25%;
    border-radius: 90%;
    filter: blur(200px);
    background-color: #840A0A;

    @include vp--680 {
        bottom: -600px;
    }
}