.inputWrapper {
    padding: calcVW(5, 1600) calcVW(7, 1600);
    background-color: #131722;
    border: calcVW(1, 1600) solid #1F2330;
    border-radius: calcVW(8, 1600);
    display: flex;
    align-items: center;

    input {
        border: none;
        background-color: transparent;
        max-width: calcVW(50, 1600);
        margin-right: 10px;
        font-weight: bold;
        font-size: calcVW(14, 1600);
        color: #FFF;

        &::placeholder {
            color: #FFF;
        }

        @include vp--1600 {
            max-width: 80px;
            font-size: 14px;
        }

        @include vp--680 {
            max-width: 50px;
        }
    }

    &::after {
        content: "";
        display: flex;
        width: calcVW(12, 1600);
        height: calcVW(12, 1600);
        mask-repeat: no-repeat;
        mask-image: url(/currencies/star.svg);
        mask-size: 100%;
        background-color: #828aa4;

        @include vp--1600 {
            width: 20px;
            height: 20px;
        }
    }

    &.TON::after {
        mask-image: url(/currencies/ton.svg);
    }

    @include vp--1600 {
        padding: 10px 13px;
        border: 1px solid #1F2330;
        border-radius: 8px;
    }
}