.titleWrapper {
    width: 100%;
}

.category {
    font-weight: 400;
    font-size: calcVW(18, 1440);
    color: #840A0A;
    line-height: calcVW(24, 1440);

    @include vp--1600 {
        font-size: 18px;
        line-height: 24px;
    }
}

.title {
    font-weight: 600;
    font-size: calcVW(30, 1440);
    line-height: calcVW(40, 1440);
    color: #FFFFFF;

    @include vp--1600 {
        font-size: 30px;
        line-height: 40px;
    }
}

.secondContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include vp--1024 {
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }
}