.title {
    text-align: center;
    font-weight: bold;
}

.pre-title {
    font-weight: 400;
    font-size: 12px;
    color: #625873;
}

.h4 {
    font-weight: 500;
    line-height: 110%;
    font-size: 18px;
}

.span {
    font-weight: lighter;
    font-size: 14px;
}