.wrapper {
}

.link { 
    display: flex;
    gap: 15px;
    align-items: center;
}

.name {
    white-space: nowrap;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid #24A1DE;
    transition: all 0.25s;
}

.avatar:hover {
    box-shadow: 
        0 0 8px rgba(36, 161, 222, 0.6),
        0 0 16px rgba(36, 161, 222, 0.4);
    background-color: #24A1DE;
    transition: all 0.25s;
}