.balance {
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    transition: .2s;
}

.balance a {
    display: flex;
    align-items: center;
    gap: 20px;
}

.dropdownIcon {
    width: 20px;
    height: 20px;
    mask-image: url(/dropdown.svg);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 60%;
    background-color: rgba($color: #FFFFFF, $alpha: 0.4);
    transition: all 0.3s ease;
    cursor: pointer;
}

.open {
    background-color: #0B090D;
    transition: .2s;
}

.open .dropdownIcon {
    transform: rotate(180deg);
    background-color: #FFFFFF;
}

.balance a img {
    margin-bottom: 3px;
}