.link {
    position: relative;
    padding: 0 10px 10px 10px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-bottom: 10px;
    transition: .3s ease-in-out;
    border-radius: 12px;
    border: 1px solid #1F1B26;
}

.link:hover:before {
    opacity: 1;
    visibility: visible;
}

.link:hover .image {
    transition: .3s ease-in-out;
    transform: scale(105%);
}

.link:hover {
    background-color: rgba($color: #625873, $alpha: 0.2);
    border-color: #fd4848;
}

.title {
    margin-top: 10px;
}

.card {
    margin-top: 20px;
    padding: 5px;
}

.priceBlock {
    display: flex;
    align-items: center;
    gap: 5px;
}

.priceBlock::before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background-color: #FFC400;
    mask-repeat: no-repeat;
    mask-image: url(/star.svg);    
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #FFC400;
}

.image {
    max-width: 170px;
    max-height: 170px;
    transform: scale(1.15);
    transition: .3s ease-in-out;

    @media screen and (max-width: 992px) {
        max-width: 130px;
        max-height: 130px;
        width: 100%;
    }
}