.online {
    margin-left: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    
    @include vp--1024 {
        margin-left: 20px;
    }
}

.online span {
    margin-top: 1px;
    min-width: 37px;
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 100%;
    background-color: #4A8949;
}