.login:hover {
    background-color: #222039;
}

.login {
    margin-right: 218px;

    @include vp--680 {
        margin: 0;
    }
}

.wrapper {
    display: flex;
    justify-content: end;
    width: 100%;
    padding: 0 10px;

    @include vp--680 {
        justify-content: start;
        padding: 0;
    }
}