.navigation {
    width: 100%;
}

.list {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 calcVW(40, 1440);
    margin-right: calcVW(217, 1440);
    gap: calcVW(30, 1440);

    @include vp--1600 {
        margin-right: 217px;
        padding: 0 40px;
        gap: 30px;
    }
}

.list a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: calcVW(5, 1440) calcVW(10, 1440) calcVW(5, 1440) calcVW(5, 1440);
    gap: calcVW(5, 1440);
    border-radius: calcVW(7, 1440);
    transition: all 0.5s;

    @include vp--1600 {
        padding: 5px 10px 5px 5px;
        gap: 5px;
    }
}

.list a.active {
}

.list a.active span {
    color: #fff;
}

.list a:hover {
    transition: all 0.3s;
}

.list a:hover span {
    color: #746986;
    transition: all 0.3s;
}

.list span {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: calcVW(12, 1440);
    color: #FFFFFF;
    transition: all 0.3s;

    @include vp--1600 {
        font-size: 14px;
    }
}

.collapse {
    opacity: 0;
}

